@import "tailwindcss";

@theme {
  --color-bg: #43334c;
  --color-card: #f8f4ec;
  --color-primary: #e83c91;
  --color-secondary: #ff8fb7;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  @apply bg-bg text-white;
}

.container {
  @apply mx-auto px-4 sm:px-0;
}

a.active {
  @apply decoration-primary underline underline-offset-8;
}

.node__root > circle {
  fill: gray;
}

.node__branch > circle {
  fill: gray;
}

.node__leaf > circle {
  fill: white;
}
